<%- layout('layouts/main') %>
<form action="/signup" method="POST">
  <input type="email" name="email" placeholder="Insert Email" />
  <input type="password" name="password" placeholder="Insert Passport" />

  <button type="submit">Signup</button>
</form>
